@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #9b59b6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 49px;
  background-color: #f7f7f7;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 20px 49px;
}

.form-control {
  position: relative;
  /* border: 1px solid red; */
  /* margin-bottom: px; */
  margin-bottom: 10px;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

.form-control input,
.form-control i {
  font-size: 1.25rem;
}

.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e84c3d;
}

.form-control i {
  position: absolute;
  top: calc(50% + 3px);
  right: 10px;
  transform: translateY(-50%);
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: #e84c3d;
  visibility: visible;
}

.form-control small {
  color: #e84c3d;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  border: none;
  outline: none;
  background-color: #8e44ad;
  color: #ffffff;
  width: 100%;
  border-radius: 4px;
  padding: 15px 0;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
