body {
  background-color: royalblue;
}

.fa-snowflake {
  color: #ffffff;
  animation: fall 10s linear forwards;
  position: absolute;
  top: -20px;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
